# Make a new file called .env.local or rename this to env.local and fill out the variables.
# Note: Convex variables will automatically be filled after running `npx convex dev`

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=

# AI
GOOGLE_GENERATIVE_AI_API_KEY=
